*{
    font-family:"Faculty Glyphic", sans-serif;
    font-size: 25px;
}
h1{
    font-family:"DM Serif Display", serif;
}
h2{
    font-family: "Concert One", sans-serif;
}

header{
    background-color: #c9729f;
}
#boton-perfil{
    background-color: #e0c0c7;
}
.nav-item a{
    color: #ffcdc5;
}
.nav-item a:hover{
    color: #770021;
}
#app{
    color:#689195;
    font-family: "Concert One", sans-serif;
}
.boton-cv{
    background-color: #be0049;
    color: white;
}
.habilidades{
    background-color: #fff8ff;
}
.btn-proyecto{
    background-color: #baafc4;
}
btn-proyecto a{
    text-decoration:#e0c0c7;
}
.card .card-title{
    color: #8a0049;
}
#contacto{
    color: #be0049;
    background-color:#fff8ff;
}
#btn-contacto{
    background-color: #770021 ;
}
#contacto p{
    color:black;
}

footer .bi{
    color:#7f0651 ;
}
footer p{
    color: black;
}
footer p a{
    text-decoration: #f8c7c9;
    color: #9d7e79;
}

